@model DigifyWebAPP.Models.Registration

@{
    ViewData["Title"] = "Registration";
}

<div class="content content-mt-min4 registration-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                <div>
                    <div class="card-body py-3">
                        <div class="px-3 mb-4">
                            <h2 class="title-hallo medium-text registration-title">
                                JASA PERBANTUAN PENGAWASAN UNTUK PEKERJAAN PENANGGULANGAN LONGSOR LAWE
                            </h2>
                            <img src="~/img/linesna.png" alt="Lines">
                            <br><br>
                            <div class="row">
                                <div class="col-md-7">
                                    <div>
                                        <h6><b>Registration Deadline</b></h6>
                                        <span class="registration-deadline-start"><b>Start</b></span><br>
                                        <p class="registration-deadline" id="startDeadlineDisplay"></p>
                                        <span class="registration-deadline-end"><b>End</b></span><br>
                                        <p class="registration-deadline" id="endDeadlineDisplay"></p>
                                        <button class="btn btn-danger" id="countdown"></button>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="contact-add-item">
                                        <div>
                                            <p class="mb-0"><img src="~/img/kotakkotak.jpg" alt="Kotak Kotak"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="registration-guidance-title">
                            <b>Registration Guidance</b>
                        </h6>
                        <div class="doc-attachement-item registration-doc-attachment">
                            <img class="icon-file-xs" src="~/img/icon-PDF-file-solid.svg" alt="PDF Icon">
                            <div class="file-meta">
                                <span class="text-ellipsis bold-text">File-Guide-23092024.pdf</span>
                                <span>1.290 Kb</span>
                            </div>
                            <div class="doc-attachement-action">
                                <button class="btn btn-icon btn-sm btn-outline-primary" data-toggle="modal" data-target="#ModalPDF"><i class="ppcs-icon icon-eye-open"></i></button>
                                <a href="~/files/Reg_Guidance.pdf" class="btn btn-icon btn-sm btn-outline-primary" download><i class="ppcs-icon icon-download"></i></a>
                            </div>
                        </div>
                        <h6 class="faq-title">
                            <b>Frequently Asked Question (FAQ)</b>
                        </h6>
                        <div class="p-3 px-2">
                            <section class="accordion">
                                <div class="tab">
                                    <input type="checkbox" name="accordion-1" id="cb1">
                                    <label for="cb1" class="tab__label"><b>How to Register the PQ?</b></label>
                                    <div class="tab__content">
                                        <p>
                                            Individual Company must filling-out the registration form starting from Monday, 04 September 2023 08.00am Jakarta Local Time up to Thursday, 07 September 2023 04.00pm Jakarta Local Time. Beyond this period, the link will be automatically closed.<br>
                                            Following fields shall be input by using alphabetic characters and numeral only (please avoid any symbols): Company Name, NPWP/Tax Identification Number, Director Name, PIC Name and Phone Number
                                        </p>
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="checkbox" name="accordion-1" id="cb2">
                                    <label for="cb2" class="tab__label"><b>What documents are Required for PQ Registration?</b></label>
                                    <div class="tab__content">
                                        <p>
                                            Company must upload following documents:<br>
                                            1. Nomor Pokok Wajib Pajak (NPWP) / Taxpayer Identification Number, and<br>
                                            2. Power of Attorney from Chief Executive Officer or equivalent position in the Company, to authorize the Company's PIC.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="checkbox" name="accordion-1" id="cb3">
                                    <label for="cb3" class="tab__label"><b>What if I don't submit the required documents?</b></label>
                                    <div class="tab__content">
                                        <p>You cannot proceed with your application if you do not submit the required documents.</p>
                                    </div>
                                </div>
                                <div class="tab">
                                    <input type="checkbox" name="accordion-1" id="cb4">
                                    <label for="cb4" class="tab__label"><b>What if I have trouble??</b></label>
                                    <div class="tab__content">
                                        <p>If Company experiences any trouble / difficulties during Prequalification registration process, please do not hesitate to contact us at sekrepc.dht4@pertamina.com</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 formbox">
                <div class="card p-4">
                    <form asp-action="Index" asp-controller="Registration" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12" style="padding-bottom: 30px;">
                                <span class="sign-required size-textsm">* Required</span>
                            </div>
                            <div class="p-3 py-3">
                                <div class="form-one-col-row form-col-column">
                                    <div class="label-form">Company Name<span class="sign-required">*</span></div>
                                    <div class="field-form">
                                        <input type="text" class="form-control" name="CompanyName" placeholder="Enter Text" required>
                                    </div>
                                </div>
                                <div class="form-one-col-row form-col-column">
                                    <div class="label-form">NPWP<span class="sign-required">*</span></div>
                                    <div class="field-form">
                                        <input type="text" class="form-control" name="NPWP" placeholder="Enter Text" required>
                                    </div>
                                </div>
                                <div class="form-one-col-row form-col-column">
                                    <div class="label-form">Director Name<span class="sign-required">*</span></div>
                                    <div class="field-form">
                                        <input type="text" class="form-control" name="DirectorName" placeholder="Enter Text" required>
                                    </div>
                                </div>
                                <div class="form-one-col-row form-col-column">
                                    <div class="label-form">PIC Name<span class="sign-required">*</span></div>
                                    <div class="field-form">
                                        <input type="text" class="form-control" name="PICName" placeholder="Enter Text" required>
                                    </div>
                                </div>
                                <div class="form-one-col-row form-col-column">
                                    <div class="label-form">Email<span class="sign-required">*</span></div>
                                    <div class="field-form">
                                        <input type="email" class="form-control" name="Email" placeholder="Enter Text" required>
                                    </div>
                                </div>
                                <div class="form-one-col-row form-col-column">
                                    <div class="label-form">Phone Number<span class="sign-required">*</span></div>
                                    <div class="field-form">
                                        <input type="text" class="form-control" name="PhoneNumber" placeholder="Enter Text" required>
                                    </div>
                                </div>
                                <h6 class="document-upload-title"><b>Document Upload</b></h6>

                                <div class="row-input-file">
                                    <div class="label">NPWP <span class="sign-required">*</span></div>
                                    <div class="input-group custominputfile">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="npwpFile" accept=".pdf,.png,.jpg,.jpeg" required>
                                            <label class="custom-file-label">Search file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text textapps-xs"><img class="img-icon" src="~/img/icon-upload-file-solid.svg" alt="Upload Icon"> Upload</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row-input-file">
                                    <div class="label">Power of Attorney <span class="sign-required">*</span></div>
                                    <div class="input-group custominputfile">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="powerOfAttorneyFile" accept=".pdf,.png,.jpg,.jpeg" required>
                                            <label class="custom-file-label">Search file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text textapps-xs"><img class="img-icon" src="~/img/icon-upload-file-solid.svg" alt="Upload Icon"> Upload</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                                    <label for="customCheckbox1" class="custom-control-label">
                                        Allow access to invitation after closing date
                                    </label>
                                    <br>
                                    <div class="d-flex align-items-center gap-xl flex-wrap header-content-action">
                                        <button type="button" class="btn btn-sm btn-outline-primary" onclick="clearForm()">Clear Form</button>
                                        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalPDF" tabindex="-1" role="dialog" aria-labelledby="ModalPDFLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalPDFLabel">PDF Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <embed src="~/files/Reg_Guidance.pdf" type="application/pdf" width="100%" height="600px" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function getStartDate() {
            let startDate = localStorage.getItem("startDeadline");
            if (!startDate) {
                startDate = new Date().toISOString();
                localStorage.setItem("startDeadline", startDate);
            }
            return new Date(startDate);
        }

        function updateCountdown() {
            let startDeadline = getStartDate();
            let endDeadline = new Date(startDeadline);
            endDeadline.setDate(endDeadline.getDate() + 3);
            endDeadline.setHours(endDeadline.getHours() + 20);

            document.getElementById("startDeadlineDisplay").innerText = `${startDeadline.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })} \n ${startDeadline.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })} WIB (UTC+7)`;
            document.getElementById("endDeadlineDisplay").innerText = `${endDeadline.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })} \n ${endDeadline.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })} WIB (UTC+7)`;

            let interval = setInterval(function () {
                let now = new Date();
                let timeDiff = endDeadline - now;
                if (timeDiff <= 0) {
                    document.getElementById("countdown").innerText = "Registration Closed";
                    clearInterval(interval);
                    return;
                }
                let days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                let hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                document.getElementById("countdown").innerText = `${days} Days : ${hours} Hours : ${minutes} Minutes Remaining`;
            }, 1000);
        }

        updateCountdown();

        function clearForm() {
            document.querySelector('form').reset();
        }
    </script>
}
