*, *::before, *::after {
    box-sizing: border-box;
}

/* Core styles/functionality */
.tab {
    position: relative;
    color: #e5f3ff;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: -9px;
    padding-left: 20px;
    padding-right: 20px;
}

    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
}

.tab input:checked ~ .tab__content {
    max-height: 55rem;
    background: #175e9c;
    color: white;
}

/* Visual styles */
.accordion {
    color: #006cb8;
    font-size: 15px;
    overflow: hidden;
}

.tab__label,
.tab__close {
    display: flex;
    color: white;
    background: #227093;
    cursor: pointer;
}

.tab__label {
    justify-content: space-between;
    padding: 13px;
    background: white;
    color: #66a7d4;
}

    .tab__label::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transform: rotate(90deg);
        transition: all 0.35s;
    }

.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}

.tab__content p {
    margin: 0;
    padding: 1rem;
}

.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}


/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce .5s infinite;
}

@keyframes bounce {
    25% {
        transform: rotate(90deg) translate(.25rem);
    }

    75% {
        transform: rotate(90deg) translate(-.25rem);
    }
}

/*custom Registration page styling*/
.registration-container {
    padding-top: 90px;
    background-color: #e7eff6;
    min-height: 100vh;
}

.registration-title {
    line-height: 1.6rem;
}

.registration-deadline-start,
.registration-deadline-end {
    font-size: 13px;
}

.registration-deadline {
    font-size: 17px;
}

.registration-guidance-title,
.faq-title {
    padding-left: 20px;
}

.document-upload-title {
    padding-left: 5px;
}

.registration-doc-attachment {
    margin: 20px;
}
